<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="utils.SuiteListener"/>
    </listeners>
    <test name="Test Automation">
        <classes>
            <class name="runners.WebRunner"/>
            <class name="runners.DesktopRunner"/>
            <class name="runners.AndroidRunner"/>
            <class name="runners.ApiRunner"/>
        </classes>
    </test>
</suite>